{% extends "base.html" %}

{% block content %}

<!-- Hero Section -->
<section class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 ">
        <div class="hero-text">
        <h1 class="hero-heading">Find the perfect cafe for remote work</h1>
        <p class="lead">Discover cafes with wifi and power outlets to help you be productive while you work remotely.</p>
        <a href="{{ url_for('cafe_list') }}" class="btn btn-primary btn-lg">Find a cafe</a>
        </div>
        
      </div>
      <div class="col-md-6">
        
      </div>
    </div>
  </div>
</section>

<!-- Features Section -->
<section class="features-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="feature-box">
          <i class="fas fa-wifi fa-2xl"></i>
          <h3>Free Wifi</h3>
          <p>Stay connected with fast and reliable wifi at our featured cafes.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <i class="fas fa-plug fa-2xl"></i>
          <h3>Power Outlets</h3>
          <p>Charge your devices and stay productive all day long.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <i class="fas fa-mug-hot fa-2xl"></i>
          <h3>Coffee and Snacks</h3>
          <p>Enjoy delicious coffee and snacks while you work at our featured cafes.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cafe_list">
    <div class="container">
        <h4>Nairobi Area</h4>
        <a href="{{ url_for('create_cafe') }}" class="btn btn-primary" style="margin-bottom:10px;">Add New Cafe</a>
        <div class="row">
            
        {% for cafe in cafe %}
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ cafe.img_url }}" class="card-img-top" alt="{{ cafe.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ cafe.name }}</h5>
                  <p class="card-text">Description : {{ cafe.description }}</p>
                  <p>Wifi Available : {{cafe.wifi}}</p>
                  <p>Power Outlet  : {{cafe.power_outlets}}</p>
                  <form method="POST" action="{{ url_for('delete_cafe', id=cafe.id) }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                  
                  
                </div>
              </div>

        </div>  
        {% endfor %}
  
        </div>

    </div>

</section>


{% endblock %}

